{% extends 'indexcaretaker.html' %}
{% block body %}
<h3>Caretaker Home</h3>
<!--<table width="200" border="1">-->
  <!--<tr>-->
    <!--<td><a href="/addblind">Blind Registration</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="#">Notifications</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="/viewblind">View Blinds</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="/caretakerreviews">Add Review</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="/">Logout</a></td>-->
  <!--</tr>-->
<!--</table>-->
{% endblock %}
