<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Angel Eyes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="../static/apple-touch-icon.png">

        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="../static/assets/css/plugins.css" />
        <link rel="stylesheet" href="../static/assets/css/lora-web-font.css" />
        <link rel="stylesheet" href="../static/assets/css/opensans-web-font.css" />
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">

        <!--Theme custom css -->
        <link rel="stylesheet" href="../static/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="../static/assets/css/responsive.css" />
        <script>
            function onloadScroll() {
                if (window.location.pathname !== '/') {
                   window.location = '#content';
                }
            }
        </script>
        <script src="../static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#main_navbar" onload="onloadScroll()">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <nav class="navbar navbar-default navbar-fixed-top" id="main_navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><h1>Angel Eyes</h1></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/addblind">Blind Registration</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="/viewblind">View Blinds</a></li>
                        <li><a href="/caretakerreviews">Add Review</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="home-content text-center">
                                    <h1>Set The Blind Free</h1>

                                    <a href="/register" class="btn btn-primary">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Sections -->
         <section id="content" class="service sections">
            <div class="container">
                <div align="center">
        {% block body %}
        {% endblock %}
                </div>
            </div>
         </section>

        <script src="../static/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../static/assets/js/vendor/bootstrap.min.js"></script>
        <script src="../static/assets/js/vendor/isotope.min.js"></script>
        <script src="../static/assets/js/plugins.js"></script>
         <script src="../static/assets/js/jquery.magnific-popup.js"></script>
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
